html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 100px;
}

.container {
  max-width: 1800px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  margin-top: 4rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

  .header__title {
    font-size: 2rem;
    margin-left: 0rem;
    padding: 20px 20px;
    border-style: none;
    margin-top: 20px;
    background-color: #f5f5dc;
    border-radius: 100px;
    box-shadow: 0 0 0 3px #070706;
    font-size: 40px;
    cursor: pointer;
  } 

  .navigation {
    .navigation__list {
      display: flex;
      list-style-type: none;
      .navigation__item {
        margin-left: 4rem;
        padding: 10px 20px;
        border-style: none;
        margin-top: 20px;
        background-color: #f5f5dc;
        border-radius: 100px;
        box-shadow: 0 0 0 3px #070706;
        font-size: 30px;
        .navigation__link{
          color:black;
          text-decoration-line: none;
        }
      }
    }
  }
}
.image-container {
  margin-top: 1rem;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInFromRight;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
