html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 100px;
}

.container {
  max-width: 1800px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: "Dancing Script", cursive; 
  font-size: 1.5rem;
  margin-top: 4rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(230, 121, 230));
  



  .header__title {
    font-size: 2rem;
    margin-left: 0rem;
    padding: 20px 20px;
    border-style: none;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 0 0 0 3px #070706;
    font-size: 40px;
     cursor: pointer;
  }

  .navigation {
    .navigation__list {
      display: flex;
      list-style-type: none;
      .navigation__item {
        margin-left: 4rem;
        padding: 10px 20px;
        border-style: none;
        margin-top: 20px;
        background-color: #f3f3f3;
        border-radius: 100px;
        box-shadow: 0 0 0 3px #070706;
        font-size: 30px;
        .navigation__link {
          color: black;
          text-decoration-line: none;
        }
      }
    }
  }
}
.image-container1 {
  margin-top: 1rem;
  text-align: left;
  position: absolute;
  opacity: 0.5;
  margin: 2;
  z-index:-1;
  }
.image-container2 {
  float: right;
  margin-top: 1rem;
  position: relative;
  max-width: 800px;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  background-color: rgb(248, 217, 234);
  opacity: 0.9;
 
 



}
